#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
button {
  background-color: rgb(95, 160, 65);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(75, 130, 50);
}